<div class='panel panel-default'>
            <div class='panel-body row'>
                <div class='col-sm-1'>
                    <img src='/avatar.png' height='50px' width='50px'></img>
                </div>
                <div class='col-sm-11' style='padding-left:30px'>
                    <%= form_for(@newPost) do |f| %>
                        <div class="field">
                            <%= f.text_field :content, autofocus: true, class: 'form-control' %>                           
                        </div>
                        <div class="add-post-btn">
                            <%= f.submit "Add Post", class: 'btn btn-primary' %>
                        </div>
                    <% end %>
                </div>          
            </div>
        </div>

