<% if !user_signed_in? %>

    <style>

        body {
            background: url('/landing.jpg') no-repeat center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        h1 {
            font-weight: bold;
        }

        .container-index {
            margin-right: 15%;
            margin-left: 15%;
            color: white;
        }

        .text {
            font-weight: 400;
            font-size: 150%;
            margin-top: 30px;
        }

        .log-in {
            width: 300px;
            height: 150px;
            margin-top: 10%;
        }

        .sign-up {
            width: 300px;
            height: 250px
        }

    </style>

    <div class='container-index row'>
        <div class='col-md-8'>
            <h1>Welcome to Duckjer.</h1>
            <p class='text'>
                Connect with your friends — and other fascinating<br> people. 
                Get in-the-moment updates on the things<br> that interest you. 
                And watch events unfold, in real<br> time, from every angle.
            </p>
        </div>
        <div class='col-md-4'>
            <div class='log-in panel'>
                Login
            </div>
            <div class='sign-up panel'>
                Signup
            </div>
        </div>   
    </div>

<% else %>

    <script>document.location = '/home'</script>

<% end %>
