<div class='col-xs-8'>
        <% for @p in @users %>
        <div class='panel panel-default post-panel'>
            <div class='panel-body row'>
                <div class='col-sm-1'>
                    <img src='/avatar.png' height='50px' width='50px'></img>
                </div>
                <div class='col-sm-11'>
                    <p class='post-title'><%= @p.username %></p>
                    <p class='post-content'><%= @p.email %></p>
                </div>
                <div class='col-sm-12'>
                    <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
                </div>            
            </div>
        </div>
        <% end %>
    </div>